.container {
    width: 100%;
    height: 100%;
    display: flex;
    
    flex-direction: column;
    padding: 100px;
    /* margin-top: 60px; */
}
.head1 {
    
    font-family: sans-serif;
    font-weight: 800;
    color: #817e7e;
    -webkit-text-stroke: 0.4vw #817d7d;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 3px 5px 4px #3c3d3e;
    
}
.para {
    padding: 10px 5px;
    font-size: 1.2rem;
    font-weight: 300;
    width: 42vw;
    text-shadow: 0px 1px 3px #655d5d;
    font-family: 'Borel', cursive;
    color: #fff8f8;
}


.center {
    position: absolute;
    left: 30%;
    top: 20px;
    z-index : -1;
    width: 90%;
    height: 300px;
}
.imageContainer { 
    width: 0%;
    height: 100%;
    /* overflow: hidden; */
    position: absolute;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, transparent ,  rgba(0, 0, 0, 0.253) , rgb(0, 0, 0) );

}

